In [1]:
import tejapi
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
tejapi.ApiConfig.api_key = '1nn6JiPLutgvyiYdYHBf5S3TH1wZ1J'
tejapi.ApiConfig.ignoretz = True

In [2]:
from sklearn.linear_model import LinearRegression

# 事件研究

先僅以2021上市公司增資事件做為測試

In [3]:
#先抓出所有上市公司(普通股)代碼
security = tejapi.get('TWN/ANPRCSTD',
                     mkt = 'TSE',
                     stypenm = '普通股',
                     opts = {'columns':['coid','mdate','stypenm','mkt']},
                     paginate = True,
                     chinese_column_name = True)
tse_stocks = security['證券碼'].tolist()
tse_stocks

['1101',
 '1102',
 '1103',
 '1104',
 '1108',
 '1109',
 '1110',
 '1201',
 '1203',
 '1210',
 '1213',
 '1215',
 '1216',
 '1217',
 '1218',
 '1219',
 '1220',
 '1225',
 '1227',
 '1229',
 '1231',
 '1232',
 '1233',
 '1234',
 '1235',
 '1236',
 '1301',
 '1303',
 '1304',
 '1305',
 '1307',
 '1308',
 '1309',
 '1310',
 '1312',
 '1313',
 '1314',
 '1315',
 '1316',
 '1319',
 '1321',
 '1323',
 '1324',
 '1325',
 '1326',
 '1339',
 '1342',
 '1402',
 '1409',
 '1410',
 '1413',
 '1414',
 '1416',
 '1417',
 '1418',
 '1419',
 '1423',
 '1432',
 '1434',
 '1435',
 '1436',
 '1437',
 '1438',
 '1439',
 '1440',
 '1441',
 '1442',
 '1443',
 '1444',
 '1445',
 '1446',
 '1447',
 '1449',
 '1451',
 '1452',
 '1453',
 '1454',
 '1455',
 '1456',
 '1457',
 '1459',
 '1460',
 '1463',
 '1464',
 '1465',
 '1466',
 '1467',
 '1468',
 '1470',
 '1471',
 '1472',
 '1473',
 '1474',
 '1475',
 '1476',
 '1477',
 '1503',
 '1504',
 '1506',
 '1507',
 '1512',
 '1513',
 '1514',
 '1515',
 '1516',
 '1517',
 '1519',
 '1521',
 '1522',
 '1524',
 '1525',
 '1526',
 '1527',
 '1528',
 '1529',
 '1530',
 '1531',
 '1532',
 '1533',
 '1535',
 '1536',
 '1537',
 '1538',
 '1539',
 '1540',
 '1541',
 '1558',
 '1560',
 '1568',
 '1582',
 '1583',
 '1587',
 '1597',
 '1598',
 '1603',
 '1604',
 '1605',
 '1608',
 '1609',
 '1611',
 '1612',
 '1614',
 '1615',
 '1616',
 '1617',
 '1618',
 '1701',
 '1702',
 '1707',
 '1708',
 '1709',
 '1710',
 '1711',
 '1712',
 '1713',
 '1714',
 '1717',
 '1718',
 '1720',
 '1721',
 '1722',
 '1723',
 '1724',
 '1725',
 '1726',
 '1727',
 '1730',
 '1731',
 '1732',
 '1733',
 '1734',
 '1735',
 '1736',
 '1737',
 '1760',
 '1762',
 '1773',
 '1776',
 '1783',
 '1786',
 '1789',
 '1795',
 '1802',
 '1805',
 '1806',
 '1808',
 '1809',
 '1810',
 '1817',
 '1903',
 '1904',
 '1905',
 '1906',
 '1907',
 '1909',
 '2002',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2012',
 '2013',
 '2014',
 '2015',
 '2017',
 '2020',
 '2022',
 '2023',
 '2024',
 '2025',
 '2027',
 '2028',
 '2029',
 '2030',
 '2031',
 '2032',
 '2033',
 '2034',
 '2038',
 '2049',
 '2059',
 '2062',
 '2069',
 '2101',
 '2102',
 '2103',
 '2104',
 '2105',
 '2106',
 '2107',
 '2108',
 '2109',
 '2114',
 '2201',
 '2204',
 '2206',
 '2207',
 '2208',
 '2211',
 '2227',
 '2228',
 '2231',
 '2233',
 '2241',
 '2247',
 '2301',
 '2302',
 '2303',
 '2305',
 '2308',
 '2312',
 '2313',
 '2314',
 '2316',
 '2317',
 '2321',
 '2323',
 '2324',
 '2327',
 '2328',
 '2329',
 '2330',
 '2331',
 '2332',
 '2337',
 '2338',
 '2340',
 '2342',
 '2344',
 '2345',
 '2347',
 '2348',
 '2349',
 '2351',
 '2352',
 '2353',
 '2354',
 '2355',
 '2356',
 '2357',
 '2358',
 '2359',
 '2360',
 '2362',
 '2363',
 '2364',
 '2365',
 '2367',
 '2368',
 '2369',
 '2371',
 '2373',
 '2374',
 '2375',
 '2376',
 '2377',
 '2379',
 '2380',
 '2382',
 '2383',
 '2385',
 '2387',
 '2388',
 '2390',
 '2392',
 '2393',
 '2395',
 '2397',
 '2399',
 '2401',
 '2402',
 '2404',
 '2405',
 '2406',
 '2408',
 '2409',
 '2412',
 '2413',
 '2414',
 '2415',
 '2417',
 '2419',
 '2420',
 '2421',
 '2423',
 '2424',
 '2425',
 '2426',
 '2427',
 '2428',
 '2429',
 '2430',
 '2431',
 '2433',
 '2434',
 '2436',
 '2438',
 '2439',
 '2440',
 '2441',
 '2442',
 '2443',
 '2444',
 '2449',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2456',
 '2457',
 '2458',
 '2459',
 '2460',
 '2461',
 '2462',
 '2464',
 '2465',
 '2466',
 '2467',
 '2468',
 '2471',
 '2472',
 '2474',
 '2476',
 '2477',
 '2478',
 '2480',
 '2481',
 '2482',
 '2483',
 '2484',
 '2485',
 '2486',
 '2488',
 '2489',
 '2491',
 '2492',
 '2493',
 '2495',
 '2496',
 '2497',
 '2498',
 '2501',
 '2504',
 '2505',
 '2506',
 '2509',
 '2511',
 '2514',
 '2515',
 '2516',
 '2520',
 '2524',
 '2527',
 '2528',
 '2530',
 '2534',
 '2535',
 '2536',
 '2537',
 '2538',
 '2539',
 '2540',
 '2542',
 '2543',
 '2545',
 '2546',
 '2547',
 '2548',
 '2597',
 '2601',
 '2603',
 '2605',
 '2606',
 '2607',
 '2608',
 '2609',
 '2610',
 '2611',
 '2612',
 '2613',
 '2614',
 '2615',
 '2616',
 '2617',
 '2618',
 '2630',
 '2633',
 '2634',
 '2636',
 '2642',
 '2701',
 '2702',
 '2704',
 '2705',
 '2706',
 '2707',
 '2712',
 '2722',
 '2727',
 '2731',
 '2739',
 '2748',
 '2801',
 '2809',
 '2812',
 '2816',
 '2820',
 '2823',
 '2832',
 '2834',
 '2836',
 '2838',
 '2841',
 '2845',
 '2849',
 '2850',
 '2851',
 '2852',
 '2855',
 '2867',
 '2880',
 '2881',
 '2882',
 '2883',
 '2884',
 '2885',
 '2886',
 '2887',
 '2888',
 '2889',
 '2890',
 '2891',
 '2892',
 '2897',
 '2901',
 '2903',
 '2904',
 '2905',
 '2906',
 '2908',
 '2910',
 '2911',
 '2912',
 '2913',
 '2915',
 '3002',
 '3003',
 '3004',
 '3005',
 '3006',
 '3008',
 '3010',
 '3011',
 '3013',
 '3014',
 '3015',
 '3016',
 '3017',
 '3018',
 '3019',
 '3021',
 '3022',
 '3023',
 '3024',
 '3025',
 '3026',
 '3027',
 '3028',
 '3029',
 '3030',
 '3031',
 '3032',
 '3033',
 '3034',
 '3035',
 '3036',
 '3037',
 '3038',
 '3040',
 '3041',
 '3042',
 '3043',
 '3044',
 '3045',
 '3046',
 '3047',
 '3048',
 '3049',
 '3050',
 '3051',
 '3052',
 '3054',
 '3055',
 '3056',
 '3057',
 '3058',
 '3059',
 '3060',
 '3062',
 '3090',
 '3092',
 '3094',
 '3130',
 '3138',
 '3149',
 '3164',
 '3167',
 '3189',
 '3209',
 '3229',
 '3231',
 '3257',
 '3266',
 '3296',
 '3305',
 '3308',
 '3311',
 '3312',
 '3321',
 '3338',
 '3346',
 '3356',
 '3376',
 '3380',
 '3383',
 '3406',
 '3413',
 '3416',
 '3419',
 '3432',
 '3437',
 '3443',
 '3450',
 '3454',
 '3481',
 '3494',
 '3501',
 '3504',
 '3515',
 '3518',
 '3528',
 '3530',
 '3532',
 '3533',
 '3535',
 '3536',
 '3543',
 '3545',
 '3550',
 '3557',
 '3563',
 '3576',
 '3583',
 '3588',
 '3591',
 '3593',
 '3596',
 '3605',
 '3607',
 '3617',
 '3622',
 '3645',
 '3653',
 '3669',
 '3679',
 '3682',
 '3686',
 '3694',
 '3701',
 '3702',
 '3703',
 '3704',
 '3705',
 '3706',
 '3708',
 '3711',
 '3712',
 '3714',
 '4104',
 '4106',
 '4108',
 '4119',
 '4133',
 '4142',
 '4155',
 '4164',
 '4306',
 '4414',
 '4426',
 '4438',
 '4526',
 '4532',
 '4536',
 '4540',
 '4545',
 '4551',
 '4555',
 '4562',
 '4564',
 '4566',
 '4572',
 '4576',
 '4720',
 '4722',
 '4737',
 '4739',
 '4746',
 '4755',
 '4764',
 '4766',
 '4904',
 '4906',
 '4915',
 '4916',
 '4919',
 '4930',
 '4934',
 '4938',
 '4942',
 '4952',
 '4956',
 '4960',
 '4961',
 '4967',
 '4968',
 '4976',
 '4989',
 '4994',
 '4999',
 '5007',
 '5203',
 '5234',
 '5258',
 '5269',
 '5283',
 '5285',
 '5388',
 '5434',
 '5469',
 '5471',
 '5484',
 '5515',
 '5519',
 '5521',
 '5522',
 '5525',
 '5531',
 '5533',
 '5534',
 '5607',
 '5608',
 '5706',
 '5876',
 '5880',
 '6005',
 '6024',
 '6108',
 '6112',
 '6115',
 '6116',
 '6117',
 '6120',
 '6128',
 '6133',
 '6136',
 '6139',
 '6141',
 '6142',
 '6152',
 '6153',
 '6155',
 '6164',
 '6165',
 '6166',
 '6168',
 '6172',
 '6176',
 '6177',
 '6183',
 '6184',
 '6189',
 '6191',
 '6192',
 '6196',
 '6197',
 '6201',
 '6202',
 '6205',
 '6206',
 '6209',
 '6213',
 '6214',
 '6215',
 '6216',
 '6224',
 '6225',
 '6226',
 '6230',
 '6235',
 '6239',
 '6243',
 '6251',
 '6257',
 '6269',
 '6271',
 '6277',
 '6278',
 '6281',
 '6282',
 '6283',
 '6285',
 '6288',
 '6289',
 '6405',
 '6409',
 '6412',
 '6414',
 '6416',
 '6426',
 '6438',
 '6442',
 '6443',
 '6449',
 '6464',
 '6477',
 '6491',
 '6504',
 '6505',
 '6515',
 '6531',
 '6533',
 '6552',
 '6558',
 '6579',
 '6581',
 '6582',
 '6592',
 '6605',
 '6625',
 '6655',
 '6668',
 '6669',
 '6670',
 '6674',
 '6698',
 '6706',
 '6715',
 '6743',
 '6754',
 '6756',
 '6776',
 '8011',
 '8016',
 '8021',
 '8028',
 '8033',
 '8039',
 '8046',
 '8070',
 '8072',
 '8081',
 '8101',
 '8103',
 '8104',
 '8105',
 '8110',
 '8112',
 '8114',
 '8131',
 '8150',
 '8163',
 '8201',
 '8210',
 '8213',
 '8215',
 '8222',
 '8249',
 '8261',
 '8271',
 '8341',
 '8367',
 '8374',
 '8422',
 '8443',
 '8454',
 '8462',
 '8463',
 '8464',
 '8473',
 '8478',
 '8481',
 '8926',
 '8940',
 '8996',
 '9902',
 '9904',
 '9905',
 '9906',
 '9907',
 '9908',
 '9910',
 '9911',
 '9912',
 '9914',
 '9917',
 '9918',
 '9919',
 '9921',
 '9924',
 '9925',
 '9926',
 '9927',
 '9928',
 '9929',
 '9930',
 '9931',
 '9933',
 '9934',
 '9935',
 '9937',
 '9938',
 '9939',
 '9940',
 '9941',
 '9942',
 '9943',
 '9944',
 '9945',
 '9946',
 '9955',
 '9958']

In [7]:
events = tejapi.get('TWN/ASTK1',
                   opts = {'columns':['coid','cash','x_mt_date','x_cap_date']},
                   paginate = True,
                   chinese_column_name = True)
events

           公司  現金增資(仟股)     股東會決議日      增資公告日
None
0      000116         0 2000-05-25 2000-07-11
1      000116         0 2001-04-17 2001-05-31
2      000116         0        NaT 2002-09-20
3      000116         0 2002-10-09 2002-11-27
4      000116         0        NaT 2003-12-02
...       ...       ...        ...        ...
66175    R073     20320        NaT 2002-04-09
66176    R176     10000        NaT        NaT
66177    R176         0        NaT        NaT
66178    R176     10500        NaT        NaT
66179    R176      6000 2002-06-14 2002-06-14

[66180 rows x 4 columns]

In [8]:
events[events['公司'] == '1314']

        公司  現金增資(仟股)     股東會決議日      增資公告日
None
791   1314         0 2000-05-24 2000-06-26
792   1314         0        NaT 2003-02-11
793   1314         0        NaT 2003-10-14
794   1314         0        NaT 2004-01-07
795   1314         0 2008-06-19 2008-09-24
796   1314         0 2011-06-24 2011-07-20
797   1314         0 2012-06-27 2012-10-23
798   1314         0        NaT 2017-02-08
799   1314         0        NaT 2017-03-03
800   1314         0        NaT 2017-04-05
801   1314         0        NaT 2017-07-04
802   1314         0        NaT 2017-08-04
803   1314         0        NaT 2017-09-05
804   1314         0        NaT 2017-10-03
805   1314         0        NaT 2017-11-02
806   1314         0        NaT 2017-12-05
807   1314         0        NaT 2018-01-03
808   1314         0 2019-05-24 2019-06-11
809   1314    450000 2019-05-24 2020-01-10

In [4]:
#選取上市櫃公司所有事件 , 事件日先以 '增資公告日' 為主
events = tejapi.get('TWN/ASTK1',
                   x_mt_date = {'gte':'2019-01-01', 'lte':'2021-08-01'},
                   opts = {'columns':['coid','cash','x_mt_date']},
                   paginate = True,
                   chinese_column_name = True)
events

          公司  現金增資(仟股)     股東會決議日
None
0     000930      3600 2020-08-20
1     000930         0 2020-08-20
2       1101         0 2019-06-12
3       1101         0 2020-06-09
4       1210         0 2019-05-31
...      ...       ...        ...
1314    9941         0 2021-07-20
1315    9945         0 2020-06-09
1316    9946         0 2019-06-24
1317    9946         0 2020-06-29
1318    9950     48000 2019-06-13

[1319 rows x 3 columns]

In [5]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   公司        1319 non-null   object
 1   現金增資(仟股)  1319 non-null   int64
 2   股東會決議日    1319 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 31.0+ KB

In [45]:
#選取現金增資
cash = events[events['現金增資(仟股)']>0].reset_index(drop=True)
cash

         公司  現金增資(仟股)     股東會決議日
0    000930      3600 2020-08-20
1      1314    450000 2019-05-24
2      1341      1000 2021-03-11
3      1342      2500 2019-12-12
4      1342      5880 2020-09-23
..      ...       ...        ...
625    8933     80000 2019-06-21
626    8933     50000 2020-10-27
627    8936     20000 2019-06-20
628    9802     10000 2020-04-30
629    9950     48000 2019-06-13

[630 rows x 3 columns]

In [46]:
#只選出"上市"公司 的公司增資事件
tse_cash = cash[cash['公司'].isin(tse_stocks)].reset_index(drop=True)
tse_cash

       公司  現金增資(仟股)     股東會決議日
0    1314    450000 2019-05-24
1    1342      2500 2019-12-12
2    1342      5880 2020-09-23
3    1449     30000 2019-12-19
4    1460    300000 2021-05-04
..    ...       ...        ...
136  8011     20000 2020-08-07
137  8033      3210 2019-06-26
138  8033     20000 2021-04-16
139  8112     50000 2021-03-08
140  8374     23000 2019-03-19

[141 rows x 3 columns]

# 估計期間&事件期間

估計期間: -260期 ~ -10期
事件期間: -5期 ~ 5期

In [56]:
#先以1家公司測試
for i in range(1):
    #儲存此股票代碼
    stock = tse_cash.loc[i, '公司']
    #儲存事件發生日
    date = tse_cash.loc[i, '股東會決議日']
    
    
    #撈取估計期間 & 事件期間 股價(-260 ~ +5)資料
    return_set = tejapi.get('TWN/APRCD',
                            coid = stock,
                            mdate = {'gte': date + pd.Timedelta(days = -450), 'lte': date + pd.Timedelta(days = 25)}, #確保有涵蓋到-260期~3期交易日
                            opts = {'columns' : ['coid', 'mdate','roi']},
                            paginate = True,
                            chinese_column_name = True)

In [57]:
return_set

      證券代碼        年月日    報酬率％
None
0     1314 2018-03-01 -2.6022
1     1314 2018-03-02  1.9084
2     1314 2018-03-05 -4.1199
3     1314 2018-03-06  0.0000
4     1314 2018-03-07 -0.7813
...    ...        ...     ...
314   1314 2019-06-12  0.8969
315   1314 2019-06-13  0.0000
316   1314 2019-06-14  0.4444
317   1314 2019-06-17  1.3274
318   1314 2019-06-18 -0.8734

[319 rows x 3 columns]

In [58]:
date

Timestamp('2019-05-24 00:00:00')

In [59]:
return_set[return_set['年月日'] == date]

      證券代碼        年月日    報酬率％
None
302   1314 2019-05-24 -0.8811

In [60]:
#取出事件日的index
event_index = return_set[return_set['年月日'] == date].index.values.astype(int)[0]
event_index

302

In [61]:
#估計期報酬(確認個數是否無誤)
estimate_window = return_set[event_index - 260 - 1: event_index -10].reset_index(drop=True)
estimate_window

     證券代碼        年月日    報酬率％
0    1314 2018-05-02 -1.1494
1    1314 2018-05-03 -1.1628
2    1314 2018-05-04 -1.1765
3    1314 2018-05-07 -0.3968
4    1314 2018-05-08  3.1873
..    ...        ...     ...
246  1314 2019-05-03 -0.4292
247  1314 2019-05-06  0.0000
248  1314 2019-05-07  0.4310
249  1314 2019-05-08  0.0000
250  1314 2019-05-09 -0.4292

[251 rows x 3 columns]

In [62]:
#事件期間 -5~+5
event_window = return_set[event_index - 5: event_index + 5 + 1].reset_index(drop=True)
event_window

    證券代碼        年月日    報酬率％
0   1314 2019-05-17 -0.8850
1   1314 2019-05-20  0.0000
2   1314 2019-05-21  1.3393
3   1314 2019-05-22  0.8811
4   1314 2019-05-23 -0.8734
5   1314 2019-05-24 -0.8811
6   1314 2019-05-27  0.8889
7   1314 2019-05-28  1.3216
8   1314 2019-05-29 -0.4348
9   1314 2019-05-30  0.0000
10  1314 2019-05-31  0.0000

In [63]:
#估計起始日期(-260)
estimate_start = estimate_window.loc[0, '年月日']
estimate_start

Timestamp('2018-05-02 00:00:00')

In [64]:
#事件結束日期(+5)
event_end = event_window.loc[10, '年月日']
event_end

Timestamp('2019-05-31 00:00:00')

In [65]:
#先用fama french 三因子模型
fama_french = tejapi.get('TWN/AFACTO1D',
                        coid = 'Y9999',
                        mdate = {'gte':estimate_start, 'lte': event_end}, #直接抓-260~+3
                        opts = {'columns': ['coid', 'mdate','mrp','smbn','bp','op','inv']},
                        paginate = True,
                        chinese_column_name = True
                        )

In [66]:
fama_french #確認筆數 OK

       證券名稱        年月日  市場風險溢酬  規模溢酬(5因子)  淨值市價比溢酬  盈利能力因子    投資因子
None
0     Y9999 2018-05-02 -0.3119     0.1940   0.0467  0.4485 -0.2284
1     Y9999 2018-05-03 -0.9987     0.6441  -0.2475  0.0357 -0.0601
2     Y9999 2018-05-04  0.0720    -0.2030  -0.3244  0.4333 -0.3060
3     Y9999 2018-05-07  0.7385    -0.0642  -0.4810  1.0769 -0.4954
4     Y9999 2018-05-08  0.8447    -0.6422  -0.0646  0.2232 -0.3364
...     ...        ...     ...        ...      ...     ...     ...
262   Y9999 2019-05-27  0.0594     0.0855   0.5622 -0.1588 -0.1922
263   Y9999 2019-05-28 -0.2440     0.6614   0.0677 -0.0772 -0.3790
264   Y9999 2019-05-29 -0.0751    -0.2377   0.2423 -0.4004  0.4432
265   Y9999 2019-05-30  0.7844    -0.2423   0.0313  0.0487  0.1633
266   Y9999 2019-05-31  1.1293    -0.5881  -0.3835  0.2929 -0.2235

[267 rows x 7 columns]

In [67]:
#與估計期間合併
ols_data = estimate_window.merge(fama_french, on = '年月日') 
ols_data

,證券代碼,年月日,報酬率％,證券名稱,市場風險溢酬,規模溢酬(5因子),淨值市價比溢酬,盈利能力因子,投資因子
0,1314,2018-05-02,-1.1494,Y9999,-0.3119,0.1940,0.0467,0.4485,-0.2284
1,1314,2018-05-03,-1.1628,Y9999,-0.9987,0.6441,-0.2475,0.0357,-0.0601
2,1314,2018-05-04,-1.1765,Y9999,0.0720,-0.2030,-0.3244,0.4333,-0.3060
3,1314,2018-05-07,-0.3968,Y9999,0.7385,-0.0642,-0.4810,1.0769,-0.4954
4,1314,2018-05-08,3.1873,Y9999,0.8447,-0.6422,-0.0646,0.2232,-0.3364
...,...,...,...,...,...,...,...,...,...
246,1314,2019-05-03,-0.4292,Y9999,0.8091,-0.4303,-0.4936,0.0455,-0.0603
247,1314,2019-05-06,0.0000,Y9999,-1.8014,0.2261,0.0005,0.1496,0.2212
248,1314,2019-05-07,0.4310,Y9999,0.8357,-0.2689,0.1433,-0.0503,-0.0869
249,1314,2019-05-08,0.0000,Y9999,-0.5854,0.5895,0.1033,0.1620,-0.5449
250,1314,2019-05-09,-0.4292,Y9999,-1.7597,0.4127,0.2388,0.3359,-0.0476

In [68]:
x = ols_data.loc[:,['市場風險溢酬', '規模溢酬(5因子)','淨值市價比溢酬','盈利能力因子','投資因子']].values
y = ols_data['報酬率％'].values.reshape(-1,1)

In [69]:
#線性回歸(OLS)
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [70]:
#事件期間的因子
predict_data = event_window.merge(fama_french, on = '年月日') #與事件期間合併
event_x = predict_data.loc[:,['市場風險溢酬', '規模溢酬(5因子)','淨值市價比溢酬','盈利能力因子','投資因子']].values
event_x

array([[-0.8355, -0.0938,  0.5716, -0.0875,  0.5665],
       [ 0.138 , -0.5263,  0.1217,  0.5269, -0.3191],
       [ 0.6432,  0.2568,  0.1853, -1.0233, -0.0623],
       [-0.0768,  0.1891, -0.2038,  0.4175,  0.4357],
       [-1.3848,  0.6211,  0.5608, -0.2281,  0.3749],
       [ 0.1468,  0.0501, -0.0167,  0.3023, -0.029 ],
       [ 0.0594,  0.0855,  0.5622, -0.1588, -0.1922],
       [-0.244 ,  0.6614,  0.0677, -0.0772, -0.379 ],
       [-0.0751, -0.2377,  0.2423, -0.4004,  0.4432],
       [ 0.7844, -0.2423,  0.0313,  0.0487,  0.1633],
       [ 1.1293, -0.5881, -0.3835,  0.2929, -0.2235]])

In [71]:
event_window['預期報酬率'] = model.predict(event_x)
event_window['異常報酬率'] = event_window['報酬率％'] - event_window['預期報酬率'] 
event_window['累計異常報酬率'] = event_window['異常報酬率'].cumsum()
event_window

    證券代碼        年月日    報酬率％     預期報酬率     異常報酬率   累計異常報酬率
0   1314 2019-05-17 -0.8850 -0.480778 -0.404222 -0.404222
1   1314 2019-05-20  0.0000 -0.260057  0.260057 -0.144165
2   1314 2019-05-21  1.3393  1.296995  0.042305 -0.101860
3   1314 2019-05-22  0.8811 -0.170556  1.051656  0.949796
4   1314 2019-05-23 -0.8734 -0.926058  0.052658  1.002455
5   1314 2019-05-24 -0.8811  0.065594 -0.946694  0.055760
6   1314 2019-05-27  0.8889  0.496456  0.392444  0.448204
7   1314 2019-05-28  1.3216 -0.140644  1.462244  1.910449
8   1314 2019-05-29 -0.4348  0.213461 -0.648261  1.262187
9   1314 2019-05-30  0.0000  0.947737 -0.947737  0.314451
10  1314 2019-05-31  0.0000  0.693907 -0.693907 -0.379456

In [72]:
event_window

    證券代碼        年月日    報酬率％     預期報酬率     異常報酬率   累計異常報酬率
0   1314 2019-05-17 -0.8850 -0.480778 -0.404222 -0.404222
1   1314 2019-05-20  0.0000 -0.260057  0.260057 -0.144165
2   1314 2019-05-21  1.3393  1.296995  0.042305 -0.101860
3   1314 2019-05-22  0.8811 -0.170556  1.051656  0.949796
4   1314 2019-05-23 -0.8734 -0.926058  0.052658  1.002455
5   1314 2019-05-24 -0.8811  0.065594 -0.946694  0.055760
6   1314 2019-05-27  0.8889  0.496456  0.392444  0.448204
7   1314 2019-05-28  1.3216 -0.140644  1.462244  1.910449
8   1314 2019-05-29 -0.4348  0.213461 -0.648261  1.262187
9   1314 2019-05-30  0.0000  0.947737 -0.947737  0.314451
10  1314 2019-05-31  0.0000  0.693907 -0.693907 -0.379456

In [42]:
[i for i in range(-3, 4)]

[-3, -2, -1, 0, 1, 2, 3]

In [43]:
event_window['相對天數'] = [i for i in range(-5, 6)]
event_window

    證券代碼        年月日    報酬率％     預期報酬率     異常報酬率   累計異常報酬率  相對天數
0   1314 2019-05-17 -0.8850 -0.477446 -0.407554 -0.407554    -5
1   1314 2019-05-20  0.0000 -0.256607  0.256607 -0.150946    -4
2   1314 2019-05-21  1.3393  1.283175  0.056125 -0.094821    -3
3   1314 2019-05-22  0.8811 -0.162858  1.043958  0.949136    -2
4   1314 2019-05-23 -0.8734 -0.919674  0.046274  0.995410    -1
5   1314 2019-05-24 -0.8811  0.071196 -0.952296  0.043114     0
6   1314 2019-05-27  0.8889  0.501655  0.387245  0.430360     1
7   1314 2019-05-28  1.3216 -0.136758  1.458358  1.888718     2
8   1314 2019-05-29 -0.4348  0.205704 -0.640504  1.248214     3
9   1314 2019-05-30  0.0000  0.948850 -0.948850  0.299364     4
10  1314 2019-05-31  0.0000  0.688179 -0.688179 -0.388815     5

In [44]:
event_window[['證券代碼','異常報酬率','累計異常報酬率','相對天數']]

    證券代碼     異常報酬率   累計異常報酬率  相對天數
0   1314 -0.407554 -0.407554    -5
1   1314  0.256607 -0.150946    -4
2   1314  0.056125 -0.094821    -3
3   1314  1.043958  0.949136    -2
4   1314  0.046274  0.995410    -1
5   1314 -0.952296  0.043114     0
6   1314  0.387245  0.430360     1
7   1314  1.458358  1.888718     2
8   1314 -0.640504  1.248214     3
9   1314 -0.948850  0.299364     4
10  1314 -0.688179 -0.388815     5